@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: whitesmoke;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: pulse 1s linear infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 0.7;
    box-shadow: 0 0 1px 0 white;
  }

  to {
    opacity: 1;
    box-shadow: 0 0 10px 0 white;
  }

}