.tag {
  position: absolute;
  height: 0;
  width: 0;
  background-color: red;
  top: var(--ht-slant);
}

.about {
  position: relative;
  background-color: var(--clr-accent);
  background-image: var(--gradient-accent, none);
  color: var(--bc);
  padding-top: calc(10vh + var(--ht-slant));
  min-height: calc(100vh + var(--ht-slant));
  clip-path: polygon(0 var(--ht-slant), 100% 0, 100% 100%, 0% 100%);
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.textContainer {
  margin-left: 1rem;
}

.imgContainer {
  width: clamp(200px, 250px, 90%);
}

.image {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 400px) {
  .about {
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .imgContainer {
    width: clamp(400px, 450px, 50%);
  }
  .textContainer {
    width: 50%;
  }
}
