.tag {
  position: absolute;
  height: 0;
  width: 0;
  background-color: red;
  top: var(--ht-slant);
}

.about {
  flex-direction: row;
  position: relative;
  background-color: var(--clr-accent);
  background-image: var(--gradient-accent, none);
  color: var(--bc);
  padding-top: calc(10vh + var(--ht-slant));
  min-height: calc(100vh + var(--ht-slant));
  clip-path: polygon(0 var(--ht-slant), 100% 0, 100% 100%, 0% 100%);
  justify-content: space-around;
  align-items: center;
}

.content {
  margin-bottom: 1.5rem;
}
.textContainer {
  margin-left: 1rem;
}

.imgContainer {
  min-width: 50%;
}

.image {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 625px) {
  .about {
    flex-direction: column;
  }
}
