.contact {
  min-height: 80vh;
}

.title {
  color: var(--clr-accent);
  margin-bottom: 1rem;
}

.label {
  position: relative;
}

.input {
  position: relative;
  all: unset;
  width: 100%;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0px;
  border-bottom: 2px solid var(--clr-primary);
}

.label::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  height: 2px;
  background-color: var(--clr-accent);
  transform-origin: 0px 50%;
  transform: scale(0);
  transition: transform 300ms var(--cb-transition);
}
.label:focus::before,
.label:focus-within::before {
  transform: scale(1);
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.button {
  all: unset;
  border-radius: 5px;
  color: var(--clr-primary);
  border: 1px solid currentColor;
  padding: 0.3rem 0.8rem;
  align-self: center;
}

.button:hover,
.button:focus {
  color: var(--clr-accent);
  background-color: #b788f544;
}

.error {
  color: crimson;
  font-size: 0.7em;
}

.formLeft,
.formRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.textareaLabel::before {
  display: none;
}

@media only screen and (min-width: 400px) {
  .contactForm {
    width: 100%;
    flex-direction: row;
  }
  .formLeft,
  .formRight {
    width: clamp(25%, 30%, 45%);
  }
}

@media only screen and (min-width: 800px) {
  .contactForm {
    width: 80%;
  }
}

@media only screen and (max-width: 675px) {
  .contactForm {
    flex-direction: column;
    align-items: center;
  }
}
