.title {
  font-size: 1.5em;
}

.duration {
  color: var(--clr-accent);
  font-size: 0.7em;
}
.tagList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  font-family: var(--ff-monospace);
  font-size: 0.9em;
  border-radius: 3px;
  background: #7205ff30;
  color: var(--clr-accent);
  padding: 2px 5px;
}

.list {
  list-style-type: none;
  line-height: 1.8;
  margin: 1rem 0 2.6rem 1rem;
  --icon-width: 8px;
  padding-left: calc(4px + var(--icon-width));
}

.listItem {
  position: relative;
}

.listItem::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 0px solid var(--clr-accent);
  border-top-width: 2px;
  border-right-width: 2px;
  min-height: var(--icon-width);
  min-width: var(--icon-width);
  top: 50%;
  transform: translate(calc(-100% - 6px), -50%) rotate(45deg);
}

@media only screen and (max-width: 970px) {
  .listItem::before {
    top: 0%;
    transform: translate(calc(-100% - 6px), 135%) rotate(45deg);
  }
}
