@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

:root {
  --clr-primary: #181818;
  --clr-accent: #7205ff;
  --clr-bc-light: rgba(238, 238, 238, 0.4);
  --clr-bc-dark: rgba(238, 238, 238, 0.8);
  --cb-transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  --bc: rgb(238, 238, 238);
  --ht-slant: 20vh;
  --gradient-accent: linear-gradient(133deg, #7205ff, #570bb9);
  --ff-main: "Lato", "sans-serif";
  --ff-title: "Montserrat", "sans-serif";
  --ff-monospace: "Fira Code", "monospace";
  --icon-scale: 0.8;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bc);
  font-family: var(--ff-main);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-title);
}

a {
  color: currentColor;
  text-decoration: underline;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

.highlight {
  color: var(--clr-accent);
}

@media only screen and (max-width: 600px) {
  :root {
    --ht-slant: 0px;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Icons */

/* URL Icon */

.gg-link {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--icon-scale, 1));
  width: 8px;
  height: 2px;
  background: currentColor;
  border-radius: 4px;
}

.gg-link::after,
.gg-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 8px;
  height: 10px;
  border: 2px solid;
  top: -4px;
}

.gg-link::before {
  border-right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  left: -6px;
}

.gg-link::after {
  border-left: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  right: -6px;
}

/* Code Icon */
.gg-code-slash {
  display: block;
  position: relative;
  box-sizing: border-box;
  transform: rotate(15deg) scale(var(--icon-scale, 1));
  width: 2px;
  height: 16px;
  background: currentColor;
}

.gg-code-slash::after,
.gg-code-slash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(-60deg);
}

.gg-code-slash::before {
  border-left: 2px solid;
  border-top: 2px solid;
  left: -8px;
  top: 5px;
}

.gg-code-slash::after {
  border-right: 2px solid;
  border-bottom: 2px solid;
  right: -8px;
  top: 3px;
}
