@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

:root {
  --clr-primary: #181818;
  --clr-accent: #7205ff;
  --clr-bc-light: rgba(238, 238, 238, 0.4);
  --clr-bc-dark: rgba(238, 238, 238, 0.8);
  --cb-transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  --bc: rgb(238, 238, 238);
  --ht-slant: 20vh;
  --gradient-accent: linear-gradient(133deg, #7205ff, #570bb9);
  --ff-main: "Lato", "sans-serif";
  --ff-title: "Montserrat", "sans-serif";
  --ff-monospace: "Fira Code", "monospace";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bc);
  font-family: var(--ff-main);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-title);
}

a {
  color: currentColor;
  text-decoration: none;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.highlight {
  color: var(--clr-accent);
}

@media only screen and (max-width: 600px) {
  :root {
    --ht-slant: 0px;
  }
}
