.about {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
  }

  &__content,
  &__skills {
    font-family: "Lato", sans-serif;
  }

  &__content {
    width: 60%;
    margin-bottom: 1rem;
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  &__skills {
    list-style: none;
    line-height: 1.6em;

    li.skills__item {
      padding-left: 1rem;
    }
  }
}
