---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Paragraph from "../components/Paragraph.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="flex flex-col gap-8">
      <h1 class="text-3xl">
        Hey! I'm Rwithik <span>👋</span>
      </h1>
      <Paragraph
        >I am a frontend leaning fullstack developer with over four years of
        experience building scalable web applications, AI tools, and blockchain
        integrations. I like writing performant user interfaces, efficient
        backend systems, and elegant TypeScript code.</Paragraph
      >

      <Paragraph>Always curious, and always shipping.</Paragraph>
    </main>
    <Footer />
  </body>
</html>
