---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="flex gap-4 text-center items-center justify-center py-8">
      {
        [
          {
            id: 1,
            label: "Home",
            href: "/",
          },
          {
            id: 2,
            label: "Blog",
            href: "/blog",
          },
          // {
          //   id: 3,
          //   label: "Socials",
          //   href: "/socials",
          // },
        ].map((item) => {
          return <HeaderLink href={item.href}>{item.label}</HeaderLink>;
        })
      }
    </div>
  </nav>
</header>
