@import "./partials/basic";

.navbar {
  background-color: #161616;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  font-family: "Fira Mono", sans-serif;

  @at-root &__logo {
    font-size: 1.6rem;
  }

  @at-root &__list {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  @at-root &__item {
    background-image: linear-gradient(
      30deg,
      rgb(92, 233, 233),
      rgb(133, 226, 46)
    );
    background-clip: text;
    color: rgba(white, 0.7);
    transition: color 50ms ease-in;
    cursor: pointer;

    @at-root &:hover {
      color: transparent;
    }
  }
}
