@import "./partials/basic";

.about-me {
  font-family: "Fira Mono", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;

  @at-root &__title {
    font-family: "Raleway";
  }

  @at-root &__content {
    max-width: 50%;
    margin-right: auto;
  }

  @at-root &__text {
    margin-top: 1rem;
    font-size: 1em;
    opacity: 0.7;
    font-family: "Lato", sans-serif;
  }

  @at-root &__link {
    opacity: 0.7;

    @at-root &:hover {
      opacity: 1;
    }
  }
}

.subtitle__item {
  position: relative;
  display: inline-block;
  line-height: 1.6em;
  padding: 0 3px;

  @at-root &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transform-origin: center bottom;
    transform: scaleY(0.1);
    transition: transform 150ms ease-in-out;
  }
  @at-root &--fsdev::before {
    background-color: rgba(rgb(184, 2, 129), 0.3);
  }

  @at-root &--le::before {
    background-color: rgba(rgb(6, 143, 125), 0.3);
  }

  @at-root &--mle::before {
    background-color: rgba(rgb(197, 75, 4), 0.3);
  }

  @at-root &:hover::before {
    transform: scaleY(0.94);
  }
}

@media only screen and (max-width: 900px) {
  .about-me {
    flex-direction: column;

    @at-root &__content {
      max-width: 70%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .about-me__content {
    max-width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .about-me__content {
    max-width: 100%;
  }
  .about-me__subtitle {
    margin-top: 1rem;
    font-size: 0.9em;
  }
}
